@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.container{
    background-color: hsl(0, 0%, 94%);
    width: 100vw;
    height: 100vh;   
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 30%;
    padding: 40px;
    font-size: 32px;
    width: 30vw;
}

.form{
display: grid;
grid-template-columns: auto auto auto;
padding-bottom: 15px;
width:23vw ;
}

/* #wanringMonth #warningyear */

#warningDay{
  color: red;
  font-style: italic;
  font-size: 13px;
}

#warningMonth{
    color: red;
    font-style: italic;
    font-size: 13px;
}

#warningYear{
    color: red;
    font-style: italic;
    font-size: 13px;
}

label{
    font-size: 20px;
}

input{
   width: 150px;
   height: 70px;
   border: 2px solid hsl(0, 1%, 44%);
   border-radius: 10px;
   box-sizing: border-box;
}

input :hover{
    border: 2px;
}

input[type=text]{
    padding:20px;
    font-size: 30px;
    text-align: start;
}

input[type=text]:hover{
    border-color: hsl(259, 100%, 65%);
}

.icon{
    display: flex;
}

.hr{
    width:25vw ;
    align-self: center;
}

img{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50px;
    padding: 20px;
}

img:hover{
    background-color: hsl(0, 0%, 8%);
}

img:active{
    background-color: hsl(0, 0%, 8%);
}

span{
   color: hsl(259, 100%, 65%);
}

.result{
    font-size: 40px;
    line-height: 0.5; 
    font-weight: bolder;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    align-content: space-between;
    gap: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
